/* Custom CSS Below, starting with importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&display=swap');

/* Elements that effect every page */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
}
	
::-webkit-scrollbar {
	width: 9px;
	background-color: white;
}

a {
	color: #F0E68C;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
	color: #BDB76B;
	text-decoration: none;
}

h1 {
	background-color: transparent;
	min-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 4px;
	font-weight: bold;
	font-size: 2.5em;
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	border: 0px;
	color: #F1C40F;
}

h2 {
	text-decoration: none;
	color: #F4D03F;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 1.75em;
	font-family: 'Bangers', cursive;
	border-bottom: 1px solid;
	border-color: #F4D03F;
	letter-spacing: 2px;
}

h3 {
	color: #F39C12;
	font-weight: bold;
	font-size: 1.25em;
	font-family: 'Architects Daughter', cursive;
	letter-spacing: 0.2em;
}

.toc {
	background-color: #2C3E50;
	border-radius: 0px 10px 10px 0px;
	border: 0px solid transparent;
	border-left: 5px solid #34495E;
}

blockquote {
	background-color: #34495e;
}

.status-message {
	background: #F1C40F;
	color: #000000;
}

select {
	background-color: #34495E;
	color: #FFFFFF;
	min-height: 30px;
}

.ember-power-select-dropdown.ember-basic-dropdown-content {
	background-color: #34495E;
	color: #FFFFFF;
}

.ember-power-select-option[aria-current="true"], .ember-power-select[aria-selected="true"] {
	background-color: #F1C40F;
	color: #000000;
}

code {
	background-color: #34495e;
	color: #ffffff;
}

ul.dropdown menu {
	background-color: #34495E;
}

.alert-info {
	background-color: #2874A6;
	color: #FFFFFF;
}

.alert-success {
	background-color: #2874A6;
	color: #FFFFFF;
}

pre {
	color: #FFFFFF;
}

/* Header and Navigation */
.header-wrap {
	background-position: center top;
}

.title-wrap {
	background-color: transparent;
}

.site-title a, .site-title a:hover, .site-title a:active {
	color: #F1C40F;
	font-family: 'Bangers', cursive;
	padding-bottom: 5px;
}

.site-subtitle {
	font-family: 'Bangers', cursive;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1;
	padding-top: 10px;
}

/* Sidebar */
.sidebar-heading h2 {
	padding: 0px;
	padding-bottom: 5px !important;
	color: #F1C40F;
	border: 0px;
	margin-top: 10px;
	font-family: 'Bangers', cursive;
	text-transform: uppercase;
}

.sidebar-box {
	line-height: 1.5em;
	border-top: 1px solid #999;
}

.sidebar-box-right {
	border-left: 0px
}

/* Jumbotron Landing Page */
.jumbotron p {
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
}

.jumbotron .splash {
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
}

.jumbotron-tagline {
	color: #F1C40F;
	font-family: 'Bangers', cursive;
	padding: 10px 10px 10px 10px;
	letter-spacing: 1px;
}

/* Character Profile Pages  */
.comp {
	background-color: #34495E;
	padding: 10px;
	border-radius: 5px;
	margin: 20px;
}

.profile-box {
	background: rgba(93,109,126,0.3);
	color: #FFFFFF;
	border: 2px solid black;
	border-radius: 8px;
}

.profile-box .row {
	border-bottom: 1px solid #F1C40F;
	margin-top: 0px;
	padding-bottom: 12px;
}

.profile-title {
	background-color: #F1C40F;
	color: #000000;
	font-size: 2em;
	font-family: 'Bangers', cursive;
	line-height: 1em;
	letter-spacing: 1px;
	padding: 20px 25px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.char-profile-gallery {
	border-radius: 5px;
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	height: 200px;
	width: unset;
	margin: 10px;
	border: 2px solid #000000;
}

.profile-divider {
	margin-top: -11px;
	margin-bottom: 8px;
	background-color: #F1C40F;
	border-radius: 5px;
}

/* Tables and Shit */
.table-striped > tbody > tr:nth-of-type(odd) {
	background: #2C3E50;
}

.table-striped > tbody > tr:nth-of-type(even) {
	background: #34495E;
}

.table > tbody > tr > th {
	border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
	border-bottom: 1px solid #F1C40F;
}

th, .table > thead > tr > th {
	background-color: #F1C40F;
	color: #000000;
	border-bottom: 1px solid #ddd;
}

/* Requests & Jobs */
.admin-only-reply {
	background-color: #5D6D7E;
}

.admin-only-reply .markdown-editor {
	background-color: #5D6D7E;
}

/* Scenes and Chat / Play Game stuff */
.play-selector-active {
	background-color: #5D6D7E;
}

.scene-controls-box {
	background-color: #34495E;
}

.panel-default > .panel-heading {
	background-color: #5D6D7E;
}

.scene-ooc-pose {
	background-color: #5D6D7E;
}

.live-scenes-heading {
	background-color: #5D6D7E;
}

.log-box {
	background: rgba(93,109,126,0.3);
	border: 2px solid black;
	border-radius: 8px;
}

/* Tabs and things */
.nav-tabs {
	border-bottom: 1px solid #F1C40F;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	background-color: #F1C40F;
	color: #000000;
	border: 1px solid #F1C40F;
	text-shadow: none;
}

.nav-tabs > li > a {
	border-color: #F1C40F;
	background-color: #F0E68C;
	color: #000000;
}

.tab-content {
	border-top: 1px solid #F1C40F;
	border-color: #283747;
	background-color: #34495e;
}

/* Dropdown Menus */
.dropdown-menu {
	background-color: #34495e;
	color: #ffffff;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown-menu > li > a {
	background-color: #34495e;
	color: #ffffff;
}

.dropdown-menu > li > a:hover {
	background-color: #F1C40F;
	color: #000000;
}

.dropdown-menu .divider {
	background-image: linear-gradient(to right, #F1C40F, #F39C12)
}